main {
    grid-area: main;
    padding: 1rem;
}

main section h2{
    color: var(--cor-neutra-clara);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

main section ul {
 display: flex;
 flex-direction: column;
 gap: 2rem;
}



main .produtos .produto {
    max-width: 368px;
    border-radius: 14px;
}

main .produtos img {
    width: 100%;
    height: 334px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: block;
    object-position: center;
    object-fit: cover;
}

main .produtos figcaption {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-neutra-clara);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1.5rem 1.5rem 1.2rem;
}

main .informacoes {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-neutra-clara);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.5 rem 1.5rem;
}

main .informacoes span {
    color: var(--cor-cinzaa-clara);
}

main .informacoes strong {
    color: var(--cor-cinza-clara);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

main .informacoes .preco {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: right;
}

main .informacoes .adicionar-ao-carrinho {
    background-color: var(--cor-primaria);
    color: var(--cor-neutra-clara);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.75rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

main .informacoes .adicionar-ao-carrinho:hover {
    background-color: var(--cor-primaria-hover);
}

/* === TABLET === */
@media (min-width: 769px) {
  /* main {
    margin: 0 auto;
  } */

  main .produtos .produto {
    min-width: 368px;
}

  main section ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* === DESKTOP === */
@media (min-width: 1170px) {
  main section {
    max-width: 1170px;
    margin: 0 auto;
  }

  .produto {
    width: 368px;
  }
}